/*------------------------------ 1200 ------------------------------*/

@media (max-width: 1200px) {


	.burger {
		cursor: pointer;
		display: flex;
		position: fixed;
		top: 15px;
		left: 15px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 150;
		transition: all .3s;

		&__line {
			width: 30px;
			height: 4px;
			background: #1E212C;
			border-radius: 3px;
			transition: all .3s;

			&:first-child,
			&:last-child {
				transition: all .3s;
			}

			&:first-child {
				margin-bottom: 5px;
			}

			&:last-child {
				margin-top: 5px;
			}
		}

		&--open {
			transform: rotate(45deg);

			.burger__line {

				&:first-child,
				&:last-child {
					position: absolute;
					margin: 0;
					transform: rotate(90deg);
				}
			}
		}
	}

	.header {
		.container {
			padding: 0;
		}

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background: #fff;
		z-index: 100;
		min-width: 320px;
		transform: translateX(-100%);
		transition: all .3s;
		background: #f8f8f8;
		height: 100%;

		&__menu {
			margin-right: 0;
			flex: 0 1 auto;
		}

		&__inner {
			flex-direction: column;
			height: 100vh;
			padding: 40px 0 100px;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			margin-right: 0;

			&-item {
				margin-right: 0;
			}

			max-height: 300px;
			min-height: 300px;
			justify-content: space-evenly;
		}

		&__logo {
			padding-top: 30px;
			flex: 0 1 auto;
		}

		&__searchform {
			margin-right: 0;
		}
	}

	.header--open {
		transform: translate(0);
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		background: rgba(0, 0, 0, 0.350);
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	.overlay--show {
		visibility: visible;
		opacity: 1;
	}

	.slider {
		&__slider {
			max-width: 520px;
			margin: 0 auto;

		}

		&__slide {
			height: 700px;
			background: url('../img/block2image2.png') no-repeat 0 0 / cover;
		}

		&__dots .slick-dots {
			margin-top: 20px;
			position: inherit;
		}
	}
}


/*------------------------------ 1180 ------------------------------*/

@media (max-width: 1180px) {
	.footer {
		max-width: 100%;
	}
}


/*------------------------------ 1110 ------------------------------*/

@media (max-width: 1110px) {
	.cake {
		&__inner {
			flex-direction: column;
			max-width: 520px;
		}

		&__text {
			margin-bottom: 20px;
		}

		&__image {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.about {
		&__inner {
			flex-direction: column;
			max-width: 520px;
			margin: 0 auto;
		}

		&__item {
			margin-right: 0;
			margin-bottom: 30px;
			// max-width: 520px;
		}

		&__item:last-child {
			margin-bottom: 0;
		}
	}


}

/*------------------------------ 1170 ------------------------------*/
@media (max-width: 1170px) {
	.footer {
		&__logo {
			border: 1px solid black;
		}
	}
}

@media (max-width: 940px) {
	.footer {
		&__menu {
			display: none;
		}

		&__inner {
			justify-content: space-evenly;
		}
	}
}

/*------------------------------ 800 ------------------------------*/

@media (max-width: 800px) {
	.dishes {
		&__row {
			flex-direction: column;
			max-width: 400px;
			padding-top: 10px;
		}

		&__item {
			margin-bottom: 40px;
		}

		&__item:last-child {
			margin-bottom: 0;
		}
	}
}



/*------------------------------ 700 ------------------------------*/

@media (max-width: 700px) {
	.logo {
		background: #fff;
		position: fixed;
		width: 100%;
		padding: 10px 0;
		z-index: 2;
		height: 100px;
		box-shadow: 0px 4px 35px -7px black;

		img {
			height: 80px;
			display: block;
			width: 200px;
			margin: 0 auto;
		}
	}

	.slider {
		margin-top: 150px;
	}
}



/*------------------------------ 580 ------------------------------*/

@media (max-width:580px) {
	.about {
		&__item {
			width: 100%;
			height: 100%;
		}

		&__line {
			width: 85%;
		}
	}
}


/*------------------------------ 540 ------------------------------*/

@media (max-width: 540px) {
	.slider {
		&__slide {
			height: auto;
			background: #fff;
		}

		&__logo img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__content {
			padding: 0 45px;
		}
	}

	.about {
		&__item--big {
			display: none;
		}

		&__item--small {
			display: block;
		}

		&__content-inner {
			flex-direction: column;
		}

		&__content-author {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
		}

		&__content-info {
			flex: 1 1 auto;
		}

		&__line {
			width: 80%;
		}
	}

	.footer {
		&__inner {
			flex-direction: column;
		}

		&__icons {
			margin-left: 0;
			display: flex;
			justify-content: center;
		}

		&__copyright {
			text-align: center;
		}
	}

	.logo {
		&__link {
			display: flex;
			justify-content: flex-end;
			max-width: 500px;
		}
	}
}


/*------------------------------ 450 ------------------------------*/

@media (max-width: 450px) {
	.logo {
		margin-bottom: 50px;
	}

	.header {
		min-width: 100%;
	}

	.cake {
		&__title {
			font-size: 24px;
		}
	}
}

/*------------------------------ 420 ------------------------------*/

@media (max-width: 420px) {
	.about {
		&__content-author {
			flex-direction: column;
		}

		&__content-line {
			width: 75%;
		}
	}

	.logo {
		&__inner {
			display: flex;
			justify-content: flex-end;
		}

		&__link {
			margin: 0;
		}
	}
}

/*------------------------------ 380 ------------------------------*/

@media (max-width: 380px) {
	.cake {
		&__row {
			flex-direction: column;
			align-items: flex-start;
		}

		&__icons {
			margin-bottom: 20px;
		}
	}

	.about {
		&__line {
			width: 75%;
		}
	}
}

/*------------------------------ 340 ------------------------------*/

@media (max-width: 340px) {
	.about {
		&__line {
			width: 70%;
		}
	}

	.logo {
		img {
			width: 125px;
			height: 50px;
		}

		&__inner {
			margin-top: 10px;
		}
	}
}