@import "reset_styles.scss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	background-color: #eaeaea;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	color: inherit;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 30px;
}

.burger {
	display: none;
}

/*==================================== LOGO ====================================*/


.logo {
	&__inner {
		display: flex;
		justify-content: center;
	}

	padding: 120px 0;
	margin: 0 auto;

	&__link {
		display: block;
		max-width: 382px;
		margin: 0 auto;
	}
}



/*==================================== HEADER ====================================*/

.header {
	margin-bottom: 85px;

	&__inner {
		background-color: #f8f8f8;
		box-shadow: 0px 0px 13px 0px rgba(11, 12, 12, 0.15);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 42px 0;
	}

	&__logo {
		// margin: 0 82px;
		flex: 1 1 250px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__menu {
		margin-right: 20px;
		flex: 1 1 auto;
	}

	&__list {
		display: flex;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.1px;
		color: #000000;
		justify-content: space-between;
	}

	&__list-item {
		// margin-right: 26px;
		padding: 0 10px;

		&:last-child {
			margin-right: 0;
		}

	}

	&__list-link {
		display: block;
		transition: all .3s;
	}

	&__list-link:visited {
		color: black;
	}

	&__list-link:hover {
		color: #921026;
	}

	&__searchform {
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		border: 1px solid #c2c2c2;
		margin-right: 75px;
	}

	&__search {
		max-width: 105px;
		position: relative;
		padding: 8px 0;
		margin: 0 40px;

		&::before {
			display: block;
			content: "";
			background: url('../img/icons/search_icon.png') no-repeat;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 7px;
			left: -24px;
		}

		input {
			text-transform: uppercase;
			display: block;
			background-color: #f8f8f8;
		}
	}
}

/*==================================== SLIDER ====================================*/


.slider {
	margin: 0 auto;

	&__inner {
		position: relative;
	}

	&__slide {
		padding: 50px 0;
		max-width: 1120px;
		background: url('../img/block2image.png') no-repeat right / cover;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		position: relative;
	}

	&__content {
		padding: 0 90px;
	}

	&__logo {
		margin-bottom: 35px;
	}

	&__title {
		font-family: 'Playfair Display';
		font-size: 24px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #921026;
		margin-bottom: 32px;
	}

	&__text {
		max-width: 340px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.1px;
		color: #000000;
		margin-bottom: 25px;
	}

	&__button {
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #000000;
		width: 105px;
		height: 28px;
		border: 1px solid #c2c2c2;
		text-align: center;
		padding: 6px;
		transition: all .3s;

		a:visited {
			color: #000;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	&__points {
		display: flex;
		width: 76px;
		justify-content: space-between;
		position: absolute;
		top: 425px;
		right: 40px;
	}

	&__point {
		width: 8px;
		height: 8px;
		background-color: #ffffff;
		border-radius: 50%;

		&:nth-child(3) {
			background-color: #555555;
		}
	}

	&__dots .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 20px;
		right: 40px;
	}

	&__dots li {
		margin-right: 12px;
	}

	&__dots li:last-child {
		margin-right: 0;
	}

	&__dots button {
		font-size: 0;
		background-color: transparent;
		width: 10px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__dots button::before {
		content: "";
		height: 10px;
		width: 100%;
		background-color: #B3B7BC;
		border-radius: 50%;
	}

	&__dots .slick-active button::before {
		background-color: #424551;
		transition: all .3s;
	}

}


/*==================================== DISHES ====================================*/

.dishes {
	padding-top: 100px;
	min-height: 363px;

	&__row {
		padding: 40px 0 0 0;
		margin: 0 auto;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		// flex-wrap: wrap;
	}

	&__item {
		padding: 0px 10px;
		// margin: 0 20px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		font-family: 'Josefin Sans';
		font-size: 18px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		letter-spacing: 0.09px;
		margin: 15px 0 0 0;
	}

	&__subtext {
		margin: 6px 0 10px;
		display: flex;
		font-family: 'Open Sans';
		font-size: 12px;
		line-height: 1.3;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #555555;
	}

	&__time {

		background: url('../img/icons/clock_icon.png') no-repeat left;
		padding: 0 4px 0 15px;
		border-right: 1px solid #6f6f6f;
	}

	&__comment {
		background: url('../img/icons/comment_icon.png') no-repeat left;
		padding: 0 4px 0 15px;
		margin: 0 0 0 5px;
		font-weight: 400;
	}

	&__views {
		background: url('../img/icons/veiw_icon.png') no-repeat left;
		padding: 0 4px 0 15px;
		font-weight: 400;
	}
}


/*==================================== CAKE ====================================*/


.cake {

	&__inner {
		max-width: 1120px;
		background-color: #ffffff;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		margin: 88px auto 140px;
		display: flex;
		justify-content: space-between;
	}

	&__text {
		padding: 0 15px;
		max-width: 600px;
	}

	&__content {
		max-width: 500px;
		margin: 30px auto 0;
	}

	&__title {
		font-family: 'Playfair Display';
		font-size: 32px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 0.025em;
		color: #055555;
	}

	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__icons {
		display: flex;
		font-family: 'Open Sans';
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #555555;
		padding: 19px 0 0 0;
		justify-content: flex-start;
	}

	&__time {
		background: url('../img/block4/block4_clock_icon_4739.png') no-repeat 0 5px;
		padding: 0 0 0 16px;
	}

	&__easy-columns {
		background: url('../img/block4/block4_rectangle1.png') no-repeat 0px 14px, url('../img/block4/block4_rectangle2.png') no-repeat 6px 10px, url('../img/block4/block4_rectangle3.png') no-repeat 12px 6px, url('../img/block4/block4_rectangle4.png') no-repeat 18px 1px;
		margin: -6px 0 0 10px;
		padding: 0 0 0 34px;
	}

	&__button {
		// margin: 0 0 0 234px;
		font-family: 'Josefin Sans';
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		text-align: center;
		padding: 8px 0;
		width: 105px;
		height: 28px;
		border: 1px solid #c2c2c2;

		a:visited {
			color: #000;
		}
	}


	&__recipe {
		margin: 35px 0 0 0;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.025em;
		color: #000000;
	}

	&__components {
		font-family: 'Josefin Sans';
		font-weight: 300;
	}

	&__subtitle {
		margin: 35px 0 0 0;
		font-family: 'Playfair Display';
		font-weight: 700;
	}

	&__directions {
		margin: 25px 0 0 0;
		font-family: 'Josefin Sans';
		font-weight: 300;
	}
}


/*==================================== ABOUT ====================================*/


.about {
	margin-bottom: 50px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		background: #fff;
		width: 520px;
		// height: 520px;
		padding: 20px 40px;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		position: relative;
	}

	&__item--small {
		display: none;
	}

	&__item--notfound {
		background: url('../img/about/image.png') center;
	}

	&__title {
		font-family: "Josefin Sans";
		font-size: 20px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #000000;
		font-style: oblique;
		margin-bottom: 10px;
		margin-left: 10px;
	}

	// &__item::after {
	// 	content: "";
	// 	display: block;
	// 	width: 440px;
	// 	height: 2px;
	// 	background: #000;
	// 	opacity: 0.2;
	// 	position: absolute;
	// 	top: 60px;
	// }

	&__line {
		width: 440px;
		height: 2px;
		background: #000;
		opacity: 0.2;
		position: absolute;
		top: 60px;
	}

	&__text {
		font-family: "Josefin Sans";
		font-size: 34px;
		line-height: 1.2;
		font-weight: 700;
		color: #000000;
		max-width: 80px;
		text-align: center;
		margin: 170px auto 5px;
	}

	&__subtext {
		font-family: "Playfair Display";
		font-size: 16px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 0.025em;
		color: #a9a9a9;
		max-width: 134px;
		margin: 0px auto 8px;
		text-align: center;
	}

	&__image {
		width: 31px;
		margin: 0 auto;
	}

	&__button {
		display: block;
		font-family: 'Josefin Sans';
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		max-width: 105px;
		height: 28px;
		border: 1px solid #c2c2c2;
		padding: 8px 35px;
		margin: 120px auto 21px;

		a:visited {
			color: #000;
		}
	}

	&__content {
		margin-top: 40px;
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__content-photo {
		margin-right: 15px;
	}

	&__content-name {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.005em;
		margin: 10px 0 5px;
	}

	&__content-place {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		margin: 0 0 5px;
	}

	&__content-socials {
		opacity: 0.5;
		margin: 0 0 15px;
	}

	&__content-socials::after {
		content: "";
		display: block;
		background: #000;
		max-width: 291px;
		height: 2px;
		opacity: 0.2;
		margin-top: 20px;
	}

	&__content-title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		font-style: oblique;
		margin: 0 0 20px;
	}

	&__content-text {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.025em;
		text-align: justify;
		margin: 0 0 22px;
	}

	&__content-signature {
		display: flex;
		justify-content: flex-end;
	}
}



/*==================================== FOOTER ====================================*/


.footer {
	max-width: 1120px;
	opacity: 0.8;
	background-color: #000000;
	box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
	margin: 0 auto;
	color: #fefefe;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 47px 0;
	}

	&__logo {
		width: 200px;
		display: flex;
		justify-content: center;

		&-link {
			display: block;
			width: 87px;
		}
	}

	&__menu {
		max-width: 480px;
		opacity: 0.5;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.000em;
		word-spacing: 7px;
		flex: 1 1 auto;
	}

	&__menu-list {
		display: flex;
		justify-content: space-between;
	}

	&__menu-link {
		color: #fefefe;
		display: block;
		transition: all .3s;
	}

	&__menu-link:hover {
		color: #921026;
	}

	&__contact {
		margin-top: 36px;
	}

	&__copyright {
		opacity: 0.5;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		margin-bottom: 20px;

	}

	&__icons {
		margin: 0 0 0 157px;
	}

}

/*==================================== MEDIA ====================================*/

/*------------------------------ 1200 ------------------------------*/

@media (max-width: 1200px) {


	.burger {
		cursor: pointer;
		display: flex;
		position: fixed;
		top: 15px;
		left: 15px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 150;
		transition: all .3s;

		span {
			display: block;
			width: 30px;
			height: 4px;
			background: #1E212C;
			border-radius: 3px;
			margin: 4px 0;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			width: 30px;
			height: 4px;
			background: #1E212C;
			border-radius: 3px;
			transition: all .3s;
		}
	}

	.header {
		.container {
			padding: 0;
		}

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background: #fff;
		z-index: 100;
		min-width: 320px;
		transform: translateX(-100%);
		transition: all .3s;
		background: #f8f8f8;
		height: 100%;

		&__menu {
			margin-right: 0;
			flex: 0 1 auto;
		}

		&__inner {
			flex-direction: column;
			height: 100vh;
			padding: 40px 0 100px;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			margin-right: 0;

			&-item {
				margin-right: 0;
			}

			max-height: 300px;
			min-height: 300px;
			justify-content: space-evenly;
		}

		&__logo {
			padding-top: 30px;
			flex: 0 1 auto;
		}

		&__searchform {
			margin-right: 0;
		}
	}

	.header--open {
		transform: translate(0);
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		background: rgba(0, 0, 0, 0.350);
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	.overlay--show {
		visibility: visible;
		opacity: 1;
	}

	.slider {
		&__slider {
			max-width: 520px;
			margin: 0 auto;

		}

		&__slide {
			height: 700px;
			background: url('../img/block2image2.png') no-repeat 0 0 / cover;
		}

		&__dots .slick-dots {
			margin-top: 20px;
			position: inherit;
		}
	}
}


/*------------------------------ 1180 ------------------------------*/

@media (max-width: 1180px) {
	.footer {
		max-width: 100%;
	}
}


/*------------------------------ 1110 ------------------------------*/

@media (max-width: 1110px) {
	.cake {
		&__inner {
			flex-direction: column;
			max-width: 520px;
		}

		&__text {
			margin-bottom: 20px;
		}

		&__image {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.about {
		&__inner {
			flex-direction: column;
			max-width: 520px;
			margin: 0 auto;
		}

		&__item {
			margin-right: 0;
			margin-bottom: 30px;
			// max-width: 520px;
		}

		&__item:last-child {
			margin-bottom: 0;
		}
	}


}

/*------------------------------ 1170 ------------------------------*/
@media (max-width: 1170px) {
	.footer {
		&__logo {
			border: 1px solid black;
		}
	}
}

@media (max-width: 940px) {
	.footer {
		&__menu {
			display: none;
		}

		&__inner {
			justify-content: space-evenly;
		}
	}
}

/*------------------------------ 800 ------------------------------*/

@media (max-width: 800px) {
	.dishes {
		&__row {
			flex-direction: column;
			max-width: 400px;
			padding-top: 10px;
		}

		&__item {
			margin-bottom: 40px;
		}

		&__item:last-child {
			margin-bottom: 0;
		}
	}
}



/*------------------------------ 700 ------------------------------*/

@media (max-width: 700px) {
	.logo {
		background: #fff;
		position: fixed;
		width: 100%;
		padding: 10px 0;
		z-index: 2;
		height: 100px;
		box-shadow: 0px 4px 35px -7px black;

		img {
			height: 80px;
			display: block;
			width: 200px;
			margin: 0 auto;
		}
	}

	.slider {
		margin-top: 150px;
	}
}



/*------------------------------ 580 ------------------------------*/

@media (max-width:580px) {
	.about {
		&__item {
			width: 100%;
			height: 100%;
		}

		&__line {
			width: 85%;
		}
	}
}


/*------------------------------ 540 ------------------------------*/

@media (max-width: 540px) {
	.slider {
		&__slide {
			height: auto;
			background: #fff;
		}

		&__logo img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__content {
			padding: 0 45px;
		}
	}

	.about {
		&__item--big {
			display: none;
		}

		&__item--small {
			display: block;
		}

		&__content-inner {
			flex-direction: column;
		}

		&__content-author {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
		}

		&__content-info {
			flex: 1 1 auto;
		}

		&__line {
			width: 80%;
		}
	}

	.footer {
		&__inner {
			flex-direction: column;
		}

		&__icons {
			margin-left: 0;
			display: flex;
			justify-content: center;
		}

		&__copyright {
			text-align: center;
		}
	}

	.logo {
		&__link {
			display: flex;
			justify-content: flex-end;
			max-width: 500px;
		}
	}
}


/*------------------------------ 450 ------------------------------*/

@media (max-width: 450px) {
	.logo {
		margin-bottom: 50px;
	}

	.header {
		min-width: 100%;
	}

	.cake {
		&__title {
			font-size: 24px;
		}
	}
}

/*------------------------------ 420 ------------------------------*/

@media (max-width: 420px) {
	.about {
		&__content-author {
			flex-direction: column;
		}

		&__content-line {
			width: 75%;
		}
	}

	.logo {
		&__inner {
			display: flex;
			justify-content: flex-end;
		}

		&__link {
			margin: 0;
		}
	}
}

/*------------------------------ 380 ------------------------------*/

@media (max-width: 380px) {
	.cake {
		&__row {
			flex-direction: column;
			align-items: flex-start;
		}

		&__icons {
			margin-bottom: 20px;
		}
	}

	.about {
		&__line {
			width: 75%;
		}
	}
}

/*------------------------------ 340 ------------------------------*/

@media (max-width: 340px) {
	.about {
		&__line {
			width: 70%;
		}
	}

	.logo {
		img {
			width: 125px;
			height: 50px;
		}

		&__inner {
			margin-top: 10px;
		}
	}
}