@import "reset";
@import "fonts";


html {
	scroll-behavior: smooth;
}

body {
	background-color: #eaeaea;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	color: inherit;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 30px;
}

.burger {
	display: none;
	opacity: 0;
	transform: scale(0);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-delay: 1s;
}

/*==================================== LOGO ====================================*/


.logo {
	padding: 120px 0;
	opacity: 0;
	transform: translate(0, -50px);

	&__inner {
		display: flex;
		justify-content: center;
	}

	&__link {
		display: block;
	}
}



/*==================================== HEADER ====================================*/

.header {
	margin-bottom: 85px;

	&__inner {
		background-color: #f8f8f8;
		box-shadow: 0px 0px 13px 0px rgba(11, 12, 12, 0.15);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 42px 0;
		opacity: 0;
		transform: scale(0);
		transition-delay: .5s;
	}

	&__logo {
		flex: 1 1 250px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__menu {
		margin-right: 20px;
		flex: 1 1 auto;
	}

	&__list {
		display: flex;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.1px;
		color: #000000;
		justify-content: space-between;
	}

	&__list-item {
		padding: 0 10px;

		&:last-child {
			margin-right: 0;
		}

	}

	&__list-link {
		display: block;
		transition: all .3s;
	}

	&__list-link:visited {
		color: black;
	}

	&__list-link:hover {
		color: #921026;
	}

	&__searchform {
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		border: 1px solid #c2c2c2;
		margin-right: 75px;
	}

	&__search {
		max-width: 105px;
		position: relative;
		padding: 8px 0;
		margin: 0 40px;

		&::before {
			display: block;
			content: "";
			background: url('../img/icons/search_icon.png') no-repeat;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 7px;
			left: -24px;
		}

		input {
			text-transform: uppercase;
			display: block;
			background-color: #f8f8f8;
		}
	}
}

/*==================================== SLIDER ====================================*/


.slider {
	margin: 0 auto;


	&__inner {
		position: relative;
		transform: translate(-100px, 0);
		opacity: 0;
		transition-delay: 1s;
	}

	&__slide {
		padding: 50px 0;
		max-width: 1120px;
		background: url('../img/block2image.png') no-repeat right / cover;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		position: relative;
	}

	&__content {
		padding: 0 90px;
	}

	&__logo {
		margin-bottom: 35px;
	}

	&__title {
		font-family: 'Playfair Display';
		font-size: 24px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #921026;
		margin-bottom: 32px;
	}

	&__text {
		max-width: 340px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.1px;
		color: #000000;
		margin-bottom: 25px;
	}

	&__button {
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #000000;
		width: 105px;
		height: 28px;
		border: 1px solid #c2c2c2;
		text-align: center;
		padding: 6px;
		transition: all .3s;

		a:visited {
			color: #000;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	&__points {
		display: flex;
		width: 76px;
		justify-content: space-between;
		position: absolute;
		top: 425px;
		right: 40px;
	}

	&__point {
		width: 8px;
		height: 8px;
		background-color: #ffffff;
		border-radius: 50%;

		&:nth-child(3) {
			background-color: #555555;
		}
	}

	&__dots .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 20px;
		right: 40px;
	}

	&__dots li {
		margin-right: 12px;
	}

	&__dots li:last-child {
		margin-right: 0;
	}

	&__dots button {
		font-size: 0;
		background-color: transparent;
		width: 10px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__dots button::before {
		content: "";
		height: 10px;
		width: 100%;
		background-color: #B3B7BC;
		border-radius: 50%;
	}

	&__dots .slick-active button::before {
		background-color: #424551;
		transition: all .3s;
	}

}


/*==================================== DISHES ====================================*/

.dishes {
	padding-top: 100px;
	min-height: 363px;

	&__row {
		padding: 40px 0 0 0;
		margin: 0 auto;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		opacity: 0;
		transform: scale(0);
	}

	&__item {
		padding: 0px 10px;
		overflow: hidden;
		transform: scale(0);
		transition-delay: .5s;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		font-family: 'Josefin Sans';
		font-size: 18px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		letter-spacing: 0.09px;
		margin: 15px 0 0 0;
	}

	&__subtext {
		margin: 6px 0 10px;
		display: flex;
		font-family: 'Open Sans';
		font-size: 12px;
		line-height: 1.3;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #555555;
	}

	&__time {

		background: url('../img/icons/clock_icon.png') no-repeat left;
		padding: 0 4px 0 15px;
		border-right: 1px solid #6f6f6f;
	}

	&__comment {
		background: url('../img/icons/comment_icon.png') no-repeat left;
		padding: 0 4px 0 15px;
		margin: 0 0 0 5px;
		font-weight: 400;
	}

	&__views {
		background: url('../img/icons/veiw_icon.png') no-repeat left;
		padding: 0 4px 0 15px;
		font-weight: 400;
	}
}


/*==================================== CAKE ====================================*/


.cake {
	padding: 88px 0 140px;

	&__inner {
		max-width: 1120px;
		margin: 0 auto;
		background-color: #ffffff;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		display: flex;
		justify-content: space-between;
		transform: scale(0);
		opacity: 0;
	}

	&__image {
		transform: translate(-100px, 0);
		opacity: 0;
		transition-delay: 1s;
	}

	&__text {
		padding: 30px 15px 15px;
		flex: 1 1 auto;
		transform: translate(100px, 0);
		opacity: 0;
		transition-delay: 1.5s;
	}

	&__content {
		max-width: 500px;
		margin: 0 auto;
	}

	&__title {
		font-family: 'Playfair Display';
		font-size: 32px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 0.025em;
		color: #055555;
		margin-bottom: 19px;
	}

	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__icons {
		display: flex;
		font-family: 'Open Sans';
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #555555;
		justify-content: flex-start;
	}

	&__time {
		background: url('../img/block4/block4_clock_icon_4739.png') no-repeat 0 5px;
		padding: 0 0 0 16px;
	}

	&__easy-columns {
		background: url('../img/block4/block4_rectangle1.png') no-repeat 0px 14px, url('../img/block4/block4_rectangle2.png') no-repeat 6px 10px, url('../img/block4/block4_rectangle3.png') no-repeat 12px 6px, url('../img/block4/block4_rectangle4.png') no-repeat 18px 1px;
		margin: -6px 0 0 10px;
		padding: 0 0 0 34px;
	}

	&__button {

		font-family: 'Josefin Sans';
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		text-align: center;
		padding: 8px 0;
		width: 105px;
		height: 28px;
		border: 1px solid #c2c2c2;

		a:visited {
			color: #000;
		}
	}


	&__recipe {
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.025em;
		color: #000000;
	}

	&__components {
		font-family: 'Josefin Sans';
		font-weight: 300;
		margin-bottom: 35px;
	}

	&__subtitle {
		font-family: 'Playfair Display';
		font-weight: 700;
		margin-bottom: 25px;
	}

	&__directions {
		font-family: 'Josefin Sans';
		font-weight: 300;
	}
}


/*==================================== ABOUT ====================================*/


.about {
	margin-bottom: 50px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		background: #fff;
		width: 520px;
		padding: 20px 40px;
		box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
		position: relative;
	}

	&__item--small {
		display: none;
		transform: translate(100px, 0);
		opacity: 0;

	}

	&__item--big {
		transform: translate(100px, 0);
		opacity: 0;
		transition-delay: .5s;
	}

	&__item--notfound {
		background: url('../img/about/image.png') center / contain no-repeat, #fefefe;
		transform: translate(-100px, 0);
		opacity: 0;
	}

	&__title {
		font-family: "Josefin Sans";
		font-size: 20px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #000000;
		font-style: oblique;
		margin-bottom: 10px;
		margin-left: 10px;
	}

	&__line {
		width: 440px;
		height: 2px;
		background: #000;
		opacity: 0.2;
		position: absolute;
		top: 60px;
	}

	&__text {
		font-family: "Josefin Sans";
		font-size: 34px;
		line-height: 1.2;
		font-weight: 700;
		color: #000000;
		max-width: 80px;
		text-align: center;
		margin: 170px auto 5px;
	}

	&__subtext {
		font-family: "Playfair Display";
		font-size: 16px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 0.025em;
		color: #a9a9a9;
		max-width: 134px;
		margin: 0px auto 8px;
		text-align: center;
	}

	&__image {
		width: 31px;
		margin: 0 auto;
	}

	&__button {
		display: block;
		font-family: 'Josefin Sans';
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #000000;
		max-width: 105px;
		height: 28px;
		border: 1px solid #c2c2c2;
		padding: 8px 35px;
		margin: 120px auto 21px;

		a:visited {
			color: #000;
		}
	}

	&__content {
		margin-top: 40px;
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__content-photo {
		margin-right: 15px;
	}

	&__content-name {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.005em;
		margin: 10px 0 5px;
	}

	&__content-place {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.025em;
		margin: 0 0 5px;
	}

	&__content-socials {
		opacity: 0.5;
		margin: 0 0 15px;
	}

	&__content-socials::after {
		content: "";
		display: block;
		background: #000;
		max-width: 291px;
		height: 2px;
		opacity: 0.2;
		margin-top: 20px;
	}

	&__content-title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.025em;
		font-style: oblique;
		margin: 0 0 20px;
	}

	&__content-text {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.025em;
		text-align: justify;
		margin: 0 0 22px;
	}

	&__content-signature {
		display: flex;
		justify-content: flex-end;
	}
}



/*==================================== FOOTER ====================================*/


.footer {
	max-width: 1120px;
	opacity: 0.8;
	background-color: #000000;
	box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
	margin: 0 auto;
	color: #fefefe;
	transform: translate(0, 50px);
	opacity: 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 47px 0;
	}

	&__logo {
		width: 200px;
		display: flex;
		justify-content: center;

		&-link {
			display: block;
			width: 87px;
		}
	}

	&__menu {
		max-width: 480px;
		opacity: 0.5;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.000em;
		word-spacing: 7px;
		flex: 1 1 auto;
	}

	&__menu-list {
		display: flex;
		justify-content: space-between;
	}

	&__menu-link {
		color: #fefefe;
		display: block;
		transition: all .3s;
	}

	&__menu-link:hover {
		color: #921026;
	}

	&__contact {
		margin-top: 36px;
	}

	&__copyright {
		opacity: 0.5;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		margin-bottom: 20px;

	}

	&__icons {
		margin: 0 0 0 157px;
	}

}

/*==================================== ANIMATION ====================================*/

.anim-item,
.loaded {
	transition-duration: .5s;
	transition-timing-function: ease;
}

.anim-item--active,
.loaded {
	transform: translate(0, 0);
	transform: scale(1);
	opacity: 1;
}


/*==================================== MEDIA ====================================*/

@import "media";